@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090B;
  --primary: #E85002;
  --custom-gray: #3F3F46;   /* kebab-case */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-custom-gray: var(--custom-gray);  /* kebab-case */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--custom-gray);
  font-family: var(--font-inter);
}