@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --primary: #e85002;
  --dark-gray: #1a1a1a;
  --medium-gray: #3f3f46;
  --light-gray: #9f9fa9;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.333%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-33.333%);
  }
  to {
    transform: translateX(0);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-dark-gray: var(--dark-gray);
  --color-medium-gray: var(--medium-gray);
  --color-light-gray: var(--light-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter-var);
  --font-syne: var(--font-syne-var);
  --animate-marquee: marquee 30s linear infinite;
  --animate-marquee-reverse: marquee-reverse 30s linear infinite;
}

body {
  background: var(--background);
  color: var(--medium-gray);
  font-family: var(--font-inter-var);
}
